@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
body {
  margin: 0;
  font-family: 'Macondo', cursive!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:  linear-gradient(to left, rgb(48 87 120), rgb(34 96 90));
}

